.jumbotron{
    background: url("https://www.bostonglobe.com/resizer/d8EvBj1TDlHCP2XgamQoxe4kvAs=/arc-anglerfish-arc2-prod-bostonglobe/public/U6YPUNIZBFAYXO7G54DULYUTJM.jpeg") no-repeat center center; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}