.nav-text {
    text-decoration: none;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.sm-icons {
    flex-direction: row !important;
}

@media only screen and (max-width: 960px) {
    .sm-icons .nav-item {
      padding-right: 1em;
    }
}